In [2]:
import pandas as pd

In [59]:
south_asian_vars = pd.read_excel("../data/kerdoncuff_2024/Extended Data Table S1 Summary of loss of function (LOF) and missense variants in LASI-DAD.xlsx")
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN

In [96]:
south_asian_vars["chr"] = south_asian_vars["#ID"].str.split(":").str[0].astype(int)
south_asian_vars["end"] = south_asian_vars["#ID"].str.split(":").str[1].astype(int)
south_asian_vars["start"] = south_asian_vars["end"] - 1
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048756,100048755
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [97]:
missense_south_asian_vars = south_asian_vars[south_asian_vars["Function"] == "missense"]
missense_south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
5,10:100048843:G:A,G,A,missense,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048843,100048842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [100]:
missense_south_asian_vars["ref_len"] = missense_south_asian_vars["REF"].str.len()
missense_south_asian_vars["alt_len"] = missense_south_asian_vars["REF"].str.len()
missense_south_asian_vars_snp = missense_south_asian_vars[(missense_south_asian_vars["ref_len"] == 1) & (missense_south_asian_vars["alt_len"] == 1)]
missense_south_asian_vars_snp

/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_55780/2591208322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missense_south_asian_vars["ref_len"] = missense_south_asian_vars["REF"].str.len()
/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_55780/2591208322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missense_south_asian_vars["alt_len"] = missense_south_asian_vars["REF"].str.len()

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start,ref_len,alt_len
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514,1,1
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761,1,1
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770,1,1
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809,1,1
5,10:100048843:G:A,G,A,missense,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048843,100048842,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588,1,1
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598,1,1
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634,1,1
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648,1,1
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030,1,1

In [102]:
missense_south_asian_vars_snp[["chr", "start", "end", "REF", "ALT", "Allele Frequency (AF)_LASI_DAD"]]

        chr      start        end REF ALT  Allele Frequency (AF)_LASI_DAD
0        10  100042514  100042515   C   T                        0.001495
2        10  100048761  100048762   G   A                        0.000187
3        10  100048770  100048771   G   A                        0.000187
4        10  100048809  100048810   C   G                        0.000560
5        10  100048842  100048843   G   A                        0.000187
...     ...        ...        ...  ..  ..                             ...
406299    9   99968588   99968589   A   G                        0.000187
406300    9   99968598   99968599   A   C                        0.000187
406301    9   99968634   99968635   C   G                        0.000187
406302    9   99968648   99968649   C   A                        0.000187
406303    9   99985030   99985031   T   C                        0.000187

[385985 rows x 6 columns]

In [104]:
missense_south_asian_vars_snp[["chr", "start", "end", "REF", "ALT", "Allele Frequency (AF)_LASI_DAD"]].to_csv("../soto_analysis/raw_files/south_asian.bed", index=False, sep='\t', header=None)

In [112]:
pd.read_csv("../soto_analysis/raw_files/south_asian.bed", sep = "\t", header = None)

         0          1          2  3  4         5
0       10  100042514  100042515  C  T  0.001495
1       10  100048761  100048762  G  A  0.000187
2       10  100048770  100048771  G  A  0.000187
3       10  100048809  100048810  C  G  0.000560
4       10  100048842  100048843  G  A  0.000187
...     ..        ...        ... .. ..       ...
385980   9   99968588   99968589  A  G  0.000187
385981   9   99968598   99968599  A  C  0.000187
385982   9   99968634   99968635  C  G  0.000187
385983   9   99968648   99968649  C  A  0.000187
385984   9   99985030   99985031  T  C  0.000187

[385985 rows x 6 columns]

In [114]:
pd.read_csv("../soto_analysis/raw_files/gnomad.bed", sep = "\t", header = None)

         0          1          2  3  4             5
0        2  207081140  207081141  T  C  3.216086e-06
1        2  207081144  207081145  G  C  7.777610e-07
2        2  207081145  207081146  C  G  7.714145e-07
3        2  207081146  207081147  C  T  1.529487e-06
4        2  207081147  207081148  C  T  5.777024e-06
...     ..        ...        ... .. ..           ...
107567  19   13094705   13094706  G  A  7.334088e-07
107568  19   13094708   13094709  G  T  1.997268e-06
107569  19   13094710   13094711  A  G  1.250769e-06
107570  19   13094717   13094718  A  G  3.763805e-05
107571  19   13094719   13094720  A  G  6.577476e-06

[107572 rows x 6 columns]

In [121]:
output = pd.read_csv("../output/caitlin_experiment/south_asian_vars.csv", index_col = 0)
output

,Gene Name,Mutant Sequence,Protein Change,Mutation
0,NCOA1_AD3,VTSVTIKSEILPASLQSTTARPTSRLNRLPELELEAIDNQFGQPGT...,p.Ala857Thr,south_asian
1,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Lys959Arg,south_asian
2,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Val968Ile,south_asian
3,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Met984Ile,south_asian
4,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Arg987Ile,south_asian
5,CAMTA2_AD2,SPAPLEPSSRVGRGEALFGGPVGASELEPFSLSSFPDLMGELISDE...,p.Pro580Ala,south_asian
6,CAMTA2_AD2,SPAPLEPSSRVGRGEALFGGPVGASELEPFSLSSFPDLMGELISDE...,p.Pro524Leu,south_asian
7,NKX2-2_AD,AQDLAAATFQAGIPFSAYSAQSLQHMQYNVQYSSASTPQYPTAHPL...,p.Ala249Val,south_asian
8,NKX2-2_AD,AQDLAAATFQAGIPFSAYSVQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ala239Val,south_asian
9,NKX2-2_AD,AQDLAAATFQAGIPFSAYRAQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ser238Arg,south_asian
10,NKX2-2_AD,AQDLAAVTFQAGIPFSAYSAQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ala226Val,south_asian
11,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Asp247Asn,south_asian
12,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Pro254Ser,south_asian
13,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Gln263His,south_asian
14,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Leu333Phe,south_asian
15,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Val353Leu,south_asian
16,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Gly457Arg,south_asian
17,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Arg437Lys,south_asian
18,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Gly427Cys,south_asian
19,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Arg386Lys,south_asian
20,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Pro367Leu,south_asian
21,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Val358Met,south_asian
22,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSQGGSSRGGTAILLLTG...,p.Arg315Gln,south_asian
23,CAMTA2_AD1,KAHTSPSSSSSSSLSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Ser298Leu,south_asian
24,CAMTA2_AD1,KAHTSPSSSSCSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Ser295Cys,south_asian
25,PITX1_AD,VPGMPNSGLNNINNLTGSSLNSAMSPGACPYGTPASPYGVYRDTCN...,p.Ser272Gly,south_asian
26,NR4A2_AD1,MPCVQEQYGSSPQGASPASQSYSYHSSGEYSSDFLTPEFVKFSMDL...,p.Ala6Glu,south_asian
27,NCOA1_AD2,GEPNFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Ala1243Pro,south_asian
28,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTSPASGYQSPDMKAWQ...,p.Pro1272Ser,south_asian
29,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASRYQSPDMKAWQ...,p.Gly1276Arg,south_asian
30,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Asn1332Ser,south_asian
31,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Val1351Met,south_asian
32,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Ser1373Pro,south_asian
33,ERG_AD2,MTTNERRVIVPADPTLWSTDHVRQWLEWAVKEYGLPDVNILLFQNI...,p.Asp164Asn,south_asian
34,ERG_AD2,MTTNERRVIVPADPTLWSTDHVRQWLEWAVKEYGVPDVNILLFQNI...,p.Leu152Val,south_asian
35,ERG_AD2,MTTNERRVIVPADPMLWSTDHVRQWLEWAVKEYGLPDVNILLFQNI...,p.Thr132Met,south_asian
36,PAX6_AD,LRNQRRQASNTPSHIPISSSFSTSVYQPIPQPTTPVSSFTSGSMLG...,p.Pro375Gln,south_asian
37,PAX6_AD,LRNQRRQASNTPSHIPISSSFSTSVYQPIPQPTTPVSSFTSGSMLG...,p.Ala321Gly,south_asian
38,ERG_AD1,PHPPALPVTSSSFLAAPNPYWNSPTGGIYPNTRLPTSHMPSHLGTYY,p.Phe446Leu,south_asian
39,ERG_AD1,PHPSALPVTSSSFFAAPNPYWNSPTGGIYPNTRLPTSHMPSHLGTYY,p.Pro436Ser,south_asian
40,PAX5_AD,GRDLASTTLPGYPPHVPPTGQGSYSAPTLTGMVPGSEFSGSPYSHP...,p.Ala322Thr,south_asian
41,PAX5_AD,GRDLASTTLPGYPPHDPPAGQGSYSAPTLTGMVPGSEFSGSPYSHP...,p.Val319Asp,south_asian

In [ ]:
output["