In [1]:
import pandas as pd
from __future__ import annotations
from pathlib import Path
from itertools import chain

import Bio
from Bio import AlignIO
from Bio.Align import MultipleSeqAlignment
from Bio.Align.AlignInfo import SummaryInfo
from Bio.Align import AlignInfo

import warnings
warnings.filterwarnings("ignore")
import numpy as np
from Bio.motifs import Motif
import glob 
import itertools
import matplotlib.pyplot as plt

from scipy import stats

# Plan:
1. Calculate percent identity of each position in all AD alignments
2. Calculate percent identity of each position in full TF alignments
3. Compare distributions

# 1. Calculate percent identity of each position in all AD alignments

In [51]:
counts_dfs = []

print(str(len(glob.glob("../data/zoonomia_toga_mca/all_AD_alignments/*"))) + " alignments")
i = 0

# For each AD alignment
for AD_alignment in glob.glob("../data/zoonomia_toga_mca/all_AD_alignments/*"):
    if i%25 == 0:
        print(i)
    i += 1
    
    # Get msa
    msa = AlignIO.read(AD_alignment, "fasta")
    
    # Get consensus sequence (>50% of positions have that AA)
    # summary_align = AlignInfo.SummaryInfo(msa)
    # consensus = summary_align.dumb_consensus(0.5)
    
    #Counting each AA
    motif = Motif("ACDEFGHIKLMNPQRSTVWYX-", msa.alignment)
    counts = motif.counts
    
    # Saving as dataframe in desired format
    counts_df = pd.DataFrame(counts).T
    #counts_df.columns = list(str(consensus))
    counts_dfs.append(counts_df)

656 alignments
0
25
50
75
100
125
150
175
200
225
250
275
300
325
350
375
400
425
450
475
500
525
550
575
600
625
650

In [53]:
# Getting mean percent identity per AA per AD
per_AD_mean_perc_ident = []

for count_df in counts_dfs:
    df = count_df.copy(deep = True)

    # Getting proportions
    df = df / df.sum()   

    # Keeping index AA and value of greatest percent identity per position
    df_percent_identities = pd.DataFrame({"AA" : df.idxmax(axis=0), "percent identity" : df.max(axis=0)})
    #display(df_percent_identities)
    
    # Calculating mean percent identity per AA
    mean_perc_idents = df_percent_identities.groupby("AA").mean()
    
    per_AD_mean_perc_ident.append(mean_perc_idents)

per_AD_mean_perc_ident = pd.concat(per_AD_mean_perc_ident)
per_AD_mean_perc_ident.groupby("AA").median().sort_values(by = "percent identity", ascending = False)

    percent identity
AA
W           0.974576
Y           0.965106
F           0.964888
K           0.963494
C           0.962963
L           0.959507
H           0.956645
Q           0.955986
R           0.955852
M           0.950213
D           0.948507
E           0.947867
P           0.941237
I           0.939979
G           0.937173
V           0.937113
N           0.929896
S           0.927216
A           0.915688
T           0.915479
-           0.668336
X           0.624217

In [54]:
# Wide dataframe where columns are positions in the AD consensus sequences, rows are the 20 AAs
combined_counts_df = pd.concat(counts_dfs, axis = 1)
# Converting to proportions
combined_percents_df = combined_counts_df / combined_counts_df.sum()
combined_percents_df

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
A,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.991579,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
C,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
D,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.971602,0.000000
E,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.971602,0.000000,0.000000,0.000000,0.000000,0.000000
F,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
G,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
H,0.993684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.995789,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
I,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
K,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
L,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
M,0.000000,0.995789,0.995789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.96146,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
P,0.000000,0.000000,0.000000,0.000000,0.989474,0.000000,0.993684,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.971602,0.000000,0.000000,0.000000,0.000000
Q,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
R,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
S,0.000000,0.000000,0.000000,0.000000,0.006316,0.995789,0.000000,0.000000,0.000000,0.000000,...,0.971602,0.971602,0.971602,0.00000,0.000000,0.000000,0.971602,0.971602,0.000000,0.971602
T,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004211,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.995789,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
W,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Y,0.000000,0.000000,0.000000,0.995789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
X,0.002105,0.000000,0.000000,0.000000,0.000000,0.000000,0.002105,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-,0.004211,0.004211,0.004211,0.004211,0.004211,0.004211,0.004211,0.004211,0.004211,0.004211,...,0.028398,0.028398,0.028398,0.03854,0.028398,0.028398,0.028398,0.028398,0.028398,0.028398

In [55]:
percent_identities = pd.DataFrame({"AA" : combined_percents_df.idxmax(axis=0), "percent identity" : combined_percents_df.max(axis=0)})
percent_identities

    AA  percent identity
0    H          0.993684
1    M          0.995789
2    M          0.995789
3    Y          0.995789
4    P          0.989474
..  ..               ...
158  P          0.971602
159  S          0.971602
160  S          0.971602
161  D          0.971602
162  S          0.971602

[79056 rows x 2 columns]

# 2. Calculate percent identity of each position in full TF alignments

In [63]:
full_TF_counts_dfs = []

all_prot_paths = set(glob.glob("../data/zoonomia_toga_mca/prot_alignments/*")) | set(glob.glob("../data/zoonomia_toga_mca/prot_alignments_wrong_isoforms/*"))

print(str(len(all_prot_paths)) + " alignments")
i = 0

# For each AD alignment
for TF_alignment in all_prot_paths:
    if i%25 == 0:
        print(i)
    i += 1
    
    # Get msa
    msa = AlignIO.read(TF_alignment, "fasta")
    
    # Get consensus sequence (>50% of positions have that AA)
    # summary_align = AlignInfo.SummaryInfo(msa)
    # consensus = summary_align.dumb_consensus(0.5)
    
    #Counting each AA
    motif = Motif("ACDEFGHIKLMNPQRSTVWYX-", msa.alignment)
    TF_counts = motif.counts
    
    # Saving as dataframe in desired format
    TF_counts_df = pd.DataFrame(TF_counts).T
    #counts_df.columns = list(str(consensus))
    full_TF_counts_dfs.append(TF_counts_df)

541 alignments
0
25
50
75
100
125
150
175
200
225
250
275
300
325
350
375
400
425
450
475
500
525

In [71]:
combined_percents_df.iloc[:, 0].isin(TF_combined_percents_df.columns)

A     True
C     True
D     True
E     True
F     True
G     True
H    False
I     True
K     True
L     True
M     True
N     True
P     True
Q     True
R     True
S     True
T     True
V     True
W     True
Y     True
X    False
-    False
Name: 0, dtype: bool

In [64]:
# Wide dataframe where columns are positions in the AD consensus sequences, rows are the 20 AAs
TF_combined_counts_df = pd.concat(full_TF_counts_dfs, axis = 1)
# Converting to proportions
TF_combined_percents_df = TF_combined_counts_df / TF_combined_counts_df.sum()
TF_combined_percents_df

,0,1,2,3,4,5,6,7,8,9,...,314,315,316,317,318,319,320,321,322,323
A,0.000000,0.000000,0.000000,0.000000,0.000000,0.778017,0.221983,0.480603,0.183190,0.002155,...,0.002096,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.997904,0.000000
C,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
D,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.209052,0.010776,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
E,0.000000,0.000000,0.000000,0.000000,0.000000,0.006466,0.411638,0.181034,0.038793,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
F,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
G,0.000000,0.000000,0.000000,0.000000,0.000000,0.010776,0.038793,0.012931,0.420259,0.000000,...,0.000000,0.000000,0.995807,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006466,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
I,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002155,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
K,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002155,0.002155,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
L,0.000000,0.000000,0.000000,0.008621,0.153017,0.000000,0.000000,0.000000,0.015086,0.000000,...,0.000000,0.989518,0.000000,0.000000,0.000000,0.000000,0.995807,0.997904,0.000000,0.997904
M,0.000000,0.000000,0.000000,0.909483,0.000000,0.012931,0.000000,0.004310,0.019397,0.000000,...,0.000000,0.006289,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002155,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
P,0.000000,0.000000,0.000000,0.000000,0.715517,0.000000,0.017241,0.010776,0.004310,0.000000,...,0.995807,0.002096,0.002096,0.002096,0.997904,0.002096,0.000000,0.000000,0.000000,0.000000
Q,0.002155,0.000000,0.002155,0.000000,0.002155,0.000000,0.002155,0.000000,0.023707,0.004310,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
R,0.000000,0.002155,0.004310,0.000000,0.008621,0.004310,0.000000,0.006466,0.012931,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
S,0.000000,0.000000,0.000000,0.000000,0.006466,0.000000,0.002155,0.036638,0.012931,0.000000,...,0.000000,0.000000,0.000000,0.995807,0.000000,0.006289,0.000000,0.000000,0.000000,0.000000
T,0.000000,0.000000,0.000000,0.000000,0.004310,0.064655,0.000000,0.058190,0.062500,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.989518,0.000000,0.000000,0.000000,0.000000
V,0.000000,0.000000,0.000000,0.002155,0.030172,0.036638,0.000000,0.109914,0.109914,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002096,0.000000,0.000000,0.000000
W,0.002155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004310,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Y,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
X,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
-,0.995690,0.997845,0.993534,0.079741,0.079741,0.086207,0.090517,0.084052,0.088362,0.993534,...,0.002096,0.002096,0.002096,0.002096,0.002096,0.002096,0.002096,0.002096,0.002096,0.002096

In [65]:
# Remove positions which are in AD table

In [95]:
TF_percent_identities = pd.DataFrame({"AA" : TF_combined_percents_df.idxmax(axis=0), "percent identity" : TF_combined_percents_df.max(axis=0)})
TF_percent_identities = TF_percent_identities.reset_index(drop = True)
TF_percent_identities

       AA  percent identity
0       -          0.995690
1       -          0.997845
2       -          0.993534
3       M          0.909483
4       P          0.715517
...    ..               ...
439479  T          0.989518
439480  L          0.995807
439481  L          0.997904
439482  A          0.997904
439483  L          0.997904

[439484 rows x 2 columns]

In [97]:
percent_identities = percent_identities.reset_index(drop = True)
percent_identities

      AA  percent identity
0      H          0.993684
1      M          0.995789
2      M          0.995789
3      Y          0.995789
4      P          0.989474
...   ..               ...
79051  P          0.971602
79052  S          0.971602
79053  S          0.971602
79054  D          0.971602
79055  S          0.971602

[79056 rows x 2 columns]

In [101]:
idx_to_drop = []


for i in percent_identities.index:
    if i%100 == 0:
        print(i)
        
    # Get all matches in TF percent identities using AA and value
    merged_df = pd.merge(percent_identities.iloc[[i]], TF_percent_identities)
    
    if len(merged_df) != 0:
        # Only save index of first row to drop
        idx_to_drop.append(merged_df.index[0])

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700
52800
52900
53000
53100
53200
53300
53400
53500
53600
53700
53800
53900
54000
54100
54200
54300
54400
54500
54600
54700
54800
54900
55000
55100
55200
55300
55400
55500
55600
55700
55800
55900
56000
56100
56200
56300
56400
56500
56600
56700
56800
56900
57000
57100
57200
57300
57400
57500
57600
57700
57800
57900
58000
58100
58200
58300
58400
58500
58600
58700
58800
58900
59000
59100
59200
59300
59400
59500
59600
59700
59800
59900
60000
60100
60200
60300
60400
60500
60600
60700
60800
60900
61000
61100
61200
61300
61400
61500
61600
61700
61800
61900
62000
62100
62200
62300
62400
62500
62600
62700
62800
62900
63000
63100
63200
63300
63400
63500
63600
63700
63800
63900
64000
64100
64200
64300
64400
64500
64600
64700
64800
64900
65000
65100
65200
65300
65400
65500
65600
65700
65800
65900
66000
66100
66200
66300
66400
66500
66600
66700
66800
66900
67000
67100
67200
67300
67400
67500
67600
67700
67800
67900
68000
68100
68200
68300
68400
68500
68600
68700
68800
68900
69000
69100
69200
69300
69400
69500
69600
69700
69800
69900
70000
70100
70200
70300
70400
70500
70600
70700
70800
70900
71000
71100
71200
71300
71400
71500
71600
71700
71800
71900
72000
72100
72200
72300
72400
72500
72600
72700
72800
72900
73000
73100
73200
73300
73400
73500
73600
73700
73800
73900
74000
74100
74200
74300
74400
74500
74600
74700
74800
74900
75000
75100
75200
75300
75400
75500
75600
75700
75800
75900
76000
76100
76200
76300
76400
76500
76600
76700
76800
76900
77000
77100
77200
77300
77400
77500
77600
77700
77800
77900
78000
78100
78200
78300
78400
78500
78600
78700
78800
78900
79000

In [ ]:
len(idx_to_drop) #

In [73]:
percent_identities

    AA  percent identity
0    H          0.993684
1    M          0.995789
2    M          0.995789
3    Y          0.995789
4    P          0.989474
..  ..               ...
158  P          0.971602
159  S          0.971602
160  S          0.971602
161  D          0.971602
162  S          0.971602

[79056 rows x 2 columns]

In [76]:
pd.merge(TF_percent_identities, percent_identities, on = ["AA", "percent identity"], how = "inner")

        AA  percent identity
0        A          0.480603
1        Q          0.812500
2        A          0.696121
3        M          0.894397
4        W          0.924569
...     ..               ...
2994616  L          0.997904
2994617  L          0.997904
2994618  L          0.997904
2994619  L          0.997904
2994620  L          0.997904

[2994621 rows x 2 columns]