In [2]:
import pandas as pd

In [3]:
all_AD_vs_TF_hits = set(["MEIS2", "RORA", "CASZ1", "YY1", "NKX2-2", 
                       "TCF7L2", "NR4A2", "NCOA1"])
rare_AD_vs_TF_hits = set(["MEIS2", "RORA", "TCF7L2", "YY1", "NKX2-2",
                          "NCOA1", "NR4A2", "IKZF1", "CASZ1"])

In [4]:
all_AD_vs_DBD_hits = set(["MEIS2", "NKX2-2", "ERG", "PAX6", "CAMTA2",
                            "PAX5", "PITX1", "ARX", "OTX1", "NR1D1"])
rare_AD_vs_DBD_hits = set(["ARX", "CAMTA2", "ERG", "MEIS2", "NKX2-2",
                          "OTX1", "PAX5", "PAX6", "PITX1"])

In [5]:
all_AD_vs_TF_hits.intersection(rare_AD_vs_TF_hits, all_AD_vs_DBD_hits, rare_AD_vs_DBD_hits)

{'MEIS2', 'NKX2-2'}

In [7]:
all_hits = all_AD_vs_TF_hits.union(rare_AD_vs_TF_hits).union(all_AD_vs_DBD_hits).union(rare_AD_vs_DBD_hits)
all_hits

{'ARX',
 'CAMTA2',
 'CASZ1',
 'ERG',
 'IKZF1',
 'MEIS2',
 'NCOA1',
 'NKX2-2',
 'NR1D1',
 'NR4A2',
 'OTX1',
 'PAX5',
 'PAX6',
 'PITX1',
 'RORA',
 'TCF7L2',
 'YY1'}

In [8]:
all_hits_df = pd.DataFrame({"GeneName" : list(all_hits)})
all_hits_df

   GeneName
0     NR4A2
1     NR1D1
2    CAMTA2
3    TCF7L2
4       ARX
5     MEIS2
6      RORA
7      PAX6
8       YY1
9    NKX2-2
10    PITX1
11      ERG
12     PAX5
13    IKZF1
14    CASZ1
15     OTX1
16    NCOA1

In [10]:
all_hits_df["all_AD_vs_TF"] = all_hits_df["GeneName"].isin(all_AD_vs_TF_hits).astype(int)
all_hits_df["rare_AD_vs_TF"] = all_hits_df["GeneName"].isin(rare_AD_vs_TF_hits).astype(int)
all_hits_df["all_AD_vs_DBD"] = all_hits_df["GeneName"].isin(all_AD_vs_DBD_hits).astype(int)
all_hits_df["rare_AD_vs_DBD"] = all_hits_df["GeneName"].isin(rare_AD_vs_DBD_hits).astype(int)

In [11]:
all_hits_df

   GeneName  all_AD_vs_TF  rare_AD_vs_TF  all_AD_vs_DBD  rare_AD_vs_DBD
0     NR4A2             1              1              0               0
1     NR1D1             0              0              1               0
2    CAMTA2             0              0              1               1
3    TCF7L2             1              1              0               0
4       ARX             0              0              1               1
5     MEIS2             1              1              1               1
6      RORA             1              1              0               0
7      PAX6             0              0              1               1
8       YY1             1              1              0               0
9    NKX2-2             1              1              1               1
10    PITX1             0              0              1               1
11      ERG             0              0              1               1
12     PAX5             0              0              1               1
13    IKZF1             0              1              0               0
14    CASZ1             1              1              0               0
15     OTX1             0              0              1               1
16    NCOA1             1              1              0               0

In [12]:
all_hits_df["hit_count"] = all_hits_df["all_AD_vs_TF"] \
        + all_hits_df["rare_AD_vs_TF"] \
        + all_hits_df["all_AD_vs_DBD"] \
        + all_hits_df["rare_AD_vs_DBD"]
all_hits_df

,GeneName,all_AD_vs_TF,rare_AD_vs_TF,all_AD_vs_DBD,rare_AD_vs_DBD,hit_count
0,NR4A2,1,1,0,0,2
1,NR1D1,0,0,1,0,1
2,CAMTA2,0,0,1,1,2
3,TCF7L2,1,1,0,0,2
4,ARX,0,0,1,1,2
5,MEIS2,1,1,1,1,4
6,RORA,1,1,0,0,2
7,PAX6,0,0,1,1,2
8,YY1,1,1,0,0,2
9,NKX2-2,1,1,1,1,4
10,PITX1,0,0,1,1,2
11,ERG,0,0,1,1,2
12,PAX5,0,0,1,1,2
13,IKZF1,0,1,0,0,1
14,CASZ1,1,1,0,0,2
15,OTX1,0,0,1,1,2
16,NCOA1,1,1,0,0,2

In [13]:
all_hits_df.sort_values(by = "hit_count", ascending = False)

,GeneName,all_AD_vs_TF,rare_AD_vs_TF,all_AD_vs_DBD,rare_AD_vs_DBD,hit_count
9,NKX2-2,1,1,1,1,4
5,MEIS2,1,1,1,1,4
0,NR4A2,1,1,0,0,2
15,OTX1,0,0,1,1,2
14,CASZ1,1,1,0,0,2
12,PAX5,0,0,1,1,2
11,ERG,0,0,1,1,2
10,PITX1,0,0,1,1,2
8,YY1,1,1,0,0,2
7,PAX6,0,0,1,1,2
6,RORA,1,1,0,0,2
4,ARX,0,0,1,1,2
3,TCF7L2,1,1,0,0,2
2,CAMTA2,0,0,1,1,2
16,NCOA1,1,1,0,0,2
1,NR1D1,0,0,1,0,1
13,IKZF1,0,1,0,0,1

In [14]:
all_hits_df.sort_values(by = "hit_count", ascending = False).to_csv("../outputs/hit_summary.csv")

In [17]:
all_hits_df.sort_values(by = "hit_count", ascending = False)["GeneName"]

14     MEIS2
5     NKX2-2
0      NCOA1
9        YY1
15      OTX1
13      PAX6
12     PITX1
11      PAX5
10    TCF7L2
8       RORA
1        ARX
7     CAMTA2
4      NR4A2
3        ERG
16     CASZ1
6      NR1D1
2      IKZF1
Name: GeneName, dtype: object

In [12]:
! pwd

/Users/sanjanakotha/Desktop/Staller_Lab/SFARI/soto_analysis/notebooks

In [13]:
known_ADs = pd.read_csv("../../../SFARI/output/known_ADs_considering_isoforms_and_canonical.csv")
known_ADs

,Gene,Start,End,uniprotID,Matching Isoforms,Canonical Transcript ID,orig_uniprotID,Reference,TileType,ProteinRegionSeq,Notes
0,ABRAXAS1,121,200,Q6UWZ7,[['Q6UWZ7']],ENST00000321945,Q6UWZ7,DelRosso et al.,CR,LQEHFSNQDLVFLLLTPSIITESCSTHRLEHSLYKPQKGLFHRVPL...,NaN
1,AEBP1,1088,1158,Q8IUX7,[['Q8IUX7']],NaN,Q8IUX7,Staller Activity Data,TF,EVVTEFGTEVEPEFGTKVEPEFETQLEPEFETQLEPEFEEEEEEEK...,NaN
2,AHCTF1,1445,1698,Q8WYP5,"[['Q8WYP5'], ['Q8WYP5']]",nan / nan,Q8WYP5 / Q8WYP5,"PMID: 11952839, Soto / transcriptionalactivity...",TF,IRANDNKSMADVLGDGGNSSLTISEGPIVSERRLNQEVALNLKEDH...,NaN
3,AHR,118,126,P35869,[['P35869']],NaN,P35869,"transcriptionalactivity_regions.txt, GSL",TF,LLQALNGFV,NaN
4,AHR,266,268,P35869,[['P35869']],NaN,P35869,"transcriptionalactivity_regions.txt, GSL",TF,FAI,NaN
...,...,...,...,...,...,...,...,...,...,...,...
739,ZSCAN20,262,341,P17040,"[['P17040', 'P17040-3']]",ENST00000361328,P17040,DelRosso et al.,TF,PSNTSEKEQGPEFWGLSLINSGKRSTADYSLDNEPAQALTWRDSRA...,NaN
740,ZXDA,572,699,P98168,"[['P98168'], ['P98168']]",nan / nan,P98168 / P98168 / P98168,"PMID: 17493635, Soto / R4TA_regions.txt / acti...",TF,QDLLAQLEAANSLTPSSELTSQRQNDLSDAEIVSLFSDVPDSTSAA...,NaN
741,ZXDB,576,703,P98169,[['P98169']],NaN,P98169 / P98169,"R4TA_regions.txt / activation_regions.txt, GSL",TF,QDLLAQLEAANSLTPSSELTSQRQNDLSDAEIVSLFSDVPDSTSAA...,NaN
742,ZXDC,579,688,Q2QGD7,"[['Q2QGD7', 'Q2QGD7-2'], ['Q2QGD7', 'Q2QGD7-2']]",nan / nan,Q2QGD7 / Q2QGD7 / Q2QGD7,"PMID: 16600381, Soto / R4TA_regions.txt / acti...",TF,DSPLVLGTAATVLQQGSFSVDDVQTVSAGALGCLVALPMKNLSDDP...,NaN
743,c-Jun/AP-1,238,257,P05412,[['P05412']],NaN,P05412,"Choi 2000 list, GSL",TF,ETPPLSPIDMESQERIKAER,NaN

In [16]:
AD_on_hits = known_ADs[known_ADs["Gene"].isin(all_hits)]
AD_on_hits["len"] = AD_on_hits["End"] - AD_on_hits["Start"] + 1
AD_on_hits.sort_values(by = "len")

<ipython-input-16-03a324a65118>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AD_on_hits["len"] = AD_on_hits["End"] - AD_on_hits["Start"] + 1

,Gene,Start,End,uniprotID,Matching Isoforms,Canonical Transcript ID,orig_uniprotID,Reference,TileType,ProteinRegionSeq,Notes,len
432,NR4A2,584,598,P43354,[['P43354']],NaN,P43354,"PMID: 9572393, Soto",TF,PPAIIDKLFLDTLPF,NaN,15
700,YY1,371,397,P25490,[['P25490']],NaN,P25490,"activation_regions.txt, GSL",TF,RTHVRIHTGDRPYVCPFDGCNKKFAQS,NaN,27
638,TCF7L2,459,505,Q9NQB0,"[['Q9NQB0'], ['Q9NQB0']]",nan / nan,Q9NQB0 / Q9NQB0,"PMID: 21281469, Soto / activation_regions.txt,...",TF,SAPKKCRARFGLDQQNNWCGPCRRKKKCVRYIQGEGSCLSPPSSDGS,NaN,47
125,ERG,433,479,P11308,[['P11308-3']],NaN,P11308,"PMID: 9681824, Soto",TF,PHPPALPVTSSSFFAAPNPYWNSPTGGIYPNTRLPTSHMPSHLGTYY,NaN,47
476,PITX1,234,283,P78337,[['P78337']],NaN,P78337,"PMID: 12242290, Soto",TF,VPGMPNSGLNNINNLTGSSLNSAMSPGACPYGTPASPYSVYRDTCN...,NaN,50
637,TCF7L2,1,53,Q9NQB0,"[['Q9NQB0', 'Q9NQB0-10', 'Q9NQB0-11', 'Q9NQB0-...",NaN,Q9NQB0,"PMID: 21281469, Soto",TF,MPQLNGGGGDDLGANDELISFKDEGEQEEKSSENSSAERDLADVKS...,NaN,53
411,NKX2-2,220,273,O95096,[['O95096']],NaN,O95096,"PMID: 10944215, Soto",TF,AQDLAAATFQAGIPFSAYSAQSLQHMQYNAQYSSASTPQYPTAHPL...,NaN,54
459,PAX5,304,358,Q02548,"[['Q02548'], ['Q02548']]",nan / nan,Q02548 / Q02548,"PMID: 8617244, Soto / Choi 2000 list, GSL",TF,GRDLASTTLPGYPPHVPPAGQGSYSAPTLTGMVPGSEFSGSPYSHP...,NaN,55
699,YY1,1,69,P25490,[['P25490']],NaN,P25490,"PMID: 7731805, Soto",TF,MASGDTLYIATDGSEMPAEIVELHEIEVETIPVETIETTVVGEEEE...,NaN,69
267,IKZF1,284,365,Q13422,[['Q13422']],NaN,Q13422,"PMID: 8895580, Soto",TF,GDKGLSDTPYDSSASYEKENEMMKSHVMDQAINNAINYLGAESLRP...,NaN,82
22,ARX,472,562,Q96QS3,[['Q96QS3']],NaN,Q96QS3,"PMID: 17331656, Soto",TF,RHPAFISPAFGRLFSTMAPLTSASTAAALLRQPTPAVEGAVASGAL...,NaN,91
431,NR4A2,1,91,P43354,"[['P43354'], ['P43354']]",nan / ENST00000339562,P43354 / P43354,"PMID: 14672718, Soto / DelRosso et al.",TF,MPCVQAQYGSSPQGASPASQSYSYHSSGEYSSDFLTPEFVKFSMDL...,NaN,91
372,NCOA1,1,93,Q15788,"[['Q15788', 'Q15788-2', 'Q15788-3']]",NaN,Q15788,"PMID: 9575154, Soto",TF,MSGLGDSSSDPANPDSHKRKGSPCDTLASSTEKRRREQENKYLEEL...,NaN,93
49,CAMTA2,472,581,O94983,"[['O94983', 'O94983-2']]",ENST00000348066,O94983,DelRosso et al.,TF,SPAPLEPSSRVGRGEALFGGPVGASELEPFSLSSFPDLMGELISDE...,NaN,110
539,RORA,272,385,P35398,[['P35398']],NaN,P35398,"PMID: 10478845, Soto",TF,ELEHLAQNISKSHLETCQYLREELQQITWQTFLQEEIENYQNKQRE...,NaN,114
332,MEIS2,340,470,O14770-4,[['O14770-4']],NaN,O14770-4,"PMID: 20553494, Soto",TF,DQSNRAVSQGAAYSPEGQPMGSFVLDGQQHMGIRPAGLQSMPGDYV...,NaN,131
333,MEIS2,340,477,O14770,[['O14770']],NaN,O14770,"activation_regions.txt, GSL",TF,DQSNRAGFLLDPSVSQGAAYSPEGQPMGSFVLDGQQHMGIRPAGLQ...,NaN,138
126,ERG,118,261,P11308,"[['P11308-1', 'P11308-3', 'P11308-5', 'P11308-...",nan / ENST00000288319,P11308 / P11308,"PMID: 14603248, Soto / DelRosso et al.",TF,MTTNERRVIVPADPTLWSTDHVRQWLEWAVKEYGLPDVNILLFQNI...,NaN,144
373,NCOA1,1241,1385,Q15788,"[['Q15788', 'Q15788-2', 'Q15788-3']]",NaN,Q15788,"PMID: 9427757, Soto",TF,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,NaN,145
460,PAX6,271,422,P26367,[['P26367']],NaN,P26367,"PMID: 7951315, Soto",TF,LRNQRRQASNTPSHIPISSSFSTSVYQPIPQPTTPVSSFTSGSMLG...,NaN,152
50,CASZ1,31,185,Q86V15,"[['Q86V15', 'Q86V15-2']]",NaN,Q86V15,"PMID: 22331471, 26296975, Soto",TF,LNAICAKLSRQVVVEKRADAGSHTEGSPSQPRDQERSGPESGAARA...,NaN,155
374,NCOA1,840,1011,Q15788,"[['Q15788', 'Q15788-2', 'Q15788-3'], ['Q15788-...",nan / ENST00000288599,Q15788 / Q15788,"PMID: 9427757, 9575154, Soto / DelRosso et al.",TF,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,NaN,172
449,OTX1,172,354,P32242,[['P32242']],NaN,P32242,"PMID: 19890851, Soto",TF,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,NaN,183
48,CAMTA2,285,468,O94983,"[['O94983', 'O94983-2'], ['O94983', 'O94983-2']]",nan / ENST00000348066,O94983 / O94983,"PMID: 16678093, Soto / DelRosso et al.",TF,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,NaN,184
418,NR1D1,8,285,P20393,"[['P20393'], ['P20393'], ['P20393']]",nan / nan / nan,P20393 / P20393 / P20393,"PMID: 23201262, Soto / activation_regions.txt,...",TF,NNTGGVITYIGSSGSSPSRTSPESLYSDNSNGSFQSLTQGCPTYFP...,NaN,278