In [2]:
import pandas as pd

In [59]:
south_asian_vars = pd.read_excel("../data/kerdoncuff_2024/Extended Data Table S1 Summary of loss of function (LOF) and missense variants in LASI-DAD.xlsx")
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN

In [60]:
south_asian_vars["chr"] = south_asian_vars["#ID"].str.split(":").str[0]
south_asian_vars["end"] = south_asian_vars["#ID"].str.split(":").str[1].astype(int)
south_asian_vars["start"] = south_asian_vars["end"] - 1
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048756,100048755
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [61]:
missense_south_asian_vars = south_asian_vars[south_asian_vars["Function"] == "missense"]
missense_south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
5,10:100048843:G:A,G,A,missense,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048843,100048842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [62]:
missense_south_asian_vars["ref_len"] = missense_south_asian_vars["REF"].str.len()
missense_south_asian_vars["alt_len"] = missense_south_asian_vars["REF"].str.len()
missense_south_asian_vars_snp = missense_south_asian_vars[(missense_south_asian_vars["ref_len"] == 1) & (missense_south_asian_vars["alt_len"] == 1)]
missense_south_asian_vars_snp

/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_55780/2591208322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missense_south_asian_vars["ref_len"] = missense_south_asian_vars["REF"].str.len()
/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_55780/2591208322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missense_south_asian_vars["alt_len"] = missense_south_asian_vars["REF"].str.len()

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start,ref_len,alt_len
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514,1,1
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761,1,1
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770,1,1
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809,1,1
5,10:100048843:G:A,G,A,missense,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048843,100048842,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588,1,1
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598,1,1
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634,1,1
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648,1,1
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030,1,1

In [63]:
missense_south_asian_vars_snp[["chr", "start", "end", "REF", "ALT", "Allele Frequency (AF)_LASI_DAD"]]

       chr      start        end REF ALT  Allele Frequency (AF)_LASI_DAD
0       10  100042514  100042515   C   T                        0.001495
2       10  100048761  100048762   G   A                        0.000187
3       10  100048770  100048771   G   A                        0.000187
4       10  100048809  100048810   C   G                        0.000560
5       10  100048842  100048843   G   A                        0.000187
...     ..        ...        ...  ..  ..                             ...
406299   9   99968588   99968589   A   G                        0.000187
406300   9   99968598   99968599   A   C                        0.000187
406301   9   99968634   99968635   C   G                        0.000187
406302   9   99968648   99968649   C   A                        0.000187
406303   9   99985030   99985031   T   C                        0.000187

[385985 rows x 6 columns]

In [80]:
missense_south_asian_vars_snp[["chr", "start", "end", "REF", "ALT", "Allele Frequency (AF)_LASI_DAD"]].to_csv("../soto_analysis/raw_files/south_asian.bed", index=False, sep='\t', header=None)