In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join

Getting MTR for all TF coding regions

In [2]:
pd.read_csv("../data/full_MTR_scores.tsv", nrows = 5, sep = "\t")

,uid,CHR,POS,REF,ALT,TranscriptId,GeneId,GeneName,exon,aa_position,...,expMTR,synObs,misObs,obsMTR,adj_rate,pvalue,qvalue,proteinLength,MTRpercentile_exome,MTRpercentile_transcript
0,1:100007034:G:A,1,100007034,G,A,ENST00000639037,ENSG00000283761,AC118553.2,4/17,115,...,0.689308,16,23,0.589744,0.036680,0.054609,0.223179,713,0.175628,0.296765
1,1:100007034:G:A,1,100007034,G,A,ENST00000533028,ENSG00000117620,SLC35A3,4/8,115,...,0.689308,16,23,0.589744,0.036680,0.054609,0.223179,325,0.175628,0.297214
2,1:100007034:G:C,1,100007034,G,C,ENST00000639037,ENSG00000283761,AC118553.2,4/17,115,...,0.689308,16,23,0.589744,0.012259,0.054609,0.223179,713,0.175628,0.296765
3,1:100007034:G:C,1,100007034,G,C,ENST00000533028,ENSG00000117620,SLC35A3,4/8,115,...,0.689308,16,23,0.589744,0.012259,0.054609,0.223179,325,0.175628,0.297214
4,1:100007034:G:T,1,100007034,G,T,ENST00000639037,ENSG00000283761,AC118553.2,4/17,115,...,0.689308,16,23,0.589744,0.022763,0.054609,0.223179,713,0.175628,0.296765

In [15]:
with open('../data/full_MTR_scores.tsv', 'r', encoding='utf-8') as file:
    row_count = sum(1 for row in file)  # Count each line in the file
    print(f"Number of rows: {row_count}")

Number of rows: 69393883

In [20]:
69393883 / 10000
# 7000 chunks of size 10,000

6939.3883

In [21]:
# # SLOW to run - 10 minutes?

# Plan: convert to raw file format where I can run Soto scripts after
chunksize = 10000
mtr_output = pd.DataFrame()
#num_vars = 0
alpha_m = "../data/full_MTR_scores.tsv"
chunks = []
i = 0

# Reading in chunks, keeping rows overlapping a variant
for chunk in pd.read_csv(alpha_m, sep='\t', chunksize=chunksize):
    if i % 500 == 0:
        print(i)
    chunk = chunk.drop_duplicates(subset = ["CHR", "POS", "MTR"])
    chunk = chunk[["CHR", "POS", "MTR"]]
    mtr_output = pd.concat([mtr_output, chunk])
    i += 1

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500

In [25]:
mtr_output

          CHR        POS       MTR
0           1  100007034  0.855559
6           1  100007035  0.855559
12          1  100007037  0.854246
18          1  100007038  0.854246
24          1  100007040  0.861041
...       ...        ...       ...
69393870   23    9967995  1.069518
69393872   23    9967996  1.069518
69393874   23    9967997  1.062757
69393876   23    9967998  1.062757
69393879   23    9967999  1.062757

[26688464 rows x 3 columns]

In [24]:
mtr_output.to_csv("../soto_analysis/raw_files/mtr.bed", index=False, sep='\t', header=None)

In [29]:
pd.read_csv("../soto_analysis/raw_files/mtr.bed", nrows = 3, sep = "\t",header = None)

   0          1         2
0  1  100007034  0.855559
1  1  100007035  0.855559
2  1  100007037  0.854246

In [ ]:
#https://stackoverflow.com/questions/3207219/how-do-i-list-all-files-of-a-directory
TFs = [f for f in listdir("../soto_analysis/outputs/mutations/cds_bed_format/") if isfile(join("../soto_analysis/outputs/mutations/cds_bed_format/", f))]
SFARI_TF_enst = set(pd.read_csv("../soto_analysis/outputs/TFs_table_proteins.txt", sep = "\t")["ENST"])
TFs = set(TFs) & SFARI_TF_enst
len(TFs) # Only SFARI TFs

In [ ]:
all_cds_bed_dfs = []

for TF in TFs:
    if "ENST" in TF:
        tf_cds_bed = pd.read_csv("../soto_analysis/outputs/mutations/cds_bed_format/" + TF, sep = "\t", header = None)
        all_cds_bed_dfs.append(tf_cds_bed)

all_cds_bed_df = pd.concat(all_cds_bed_dfs)
all_cds_bed_df = all_cds_bed_df.reset_index(drop = True)
all_cds_bed_df

In [ ]:
all_cds_bed_df["ranges"] = [np.arange(s, e + 1) for s, e
all_cds_bed_df

In [ ]:
all_tf_var_dfs = []

for TF in TFs:
    if "ENST" in TF:
        tf_vars = pd.read_csv("../soto_analysis/outputs/mutations/cds_expanded_iWES_v2_variants_snv_classified/" + TF + ".bed", sep = "\t", header = None)
        if len(tf_vars) == 0:
            display(tf_vars)
        all_tf_var_dfs.append(tf_vars)

In [ ]:
all_tf_vars = pd.concat(all_tf_var_dfs)
all_tf_vars = all_tf_vars.rename(columns = {0 :"CHR", 
                                           2: "POS",
                                           8: "REF",
                                           9: "ALT"})
all_tf_vars["POS"] = all_tf_vars["POS"].astype(int)
all_tf_vars = all_tf_vars[all_tf_vars[13] == "No-Syn"]

all_tf_vars_coords = all_tf_vars[["CHR", "POS"]]
all_tf_vars_coords = all_tf_vars_coords.drop_duplicates()
all_tf_vars_coords["CHR"] = all_tf_vars_coords["CHR"].astype(str)
all_tf_vars_coords = all_tf_vars_coords.sort_values(by = "CHR")
all_tf_vars_coords = all_tf_vars_coords.sort_values(by = "POS")
all_tf_vars_coords = all_tf_vars_coords.set_index(keys = ["CHR", "POS"])
all_tf_vars_coords

In [ ]:
chunksize = 100000 
am_output = pd.DataFrame()
num_vars = 0
alpha_m = "../data/full_MTR_scores.tsv"

# Reading in chunks, keeping rows overlapping a variant
for chunk in pd.read_csv(alpha_m, sep='\t', chunksize=chunksize, header = 3):
    chunk = chunk.set_index(keys = ["#CHROM", "POS"])
    joined = pd.merge(all_tf_vars_coords, chunk, left_index=True, right_index=True)
    am_output = pd.concat([am_output, joined])
    if len(joined):
        print(len(set(am_output.index)))
        # display(joined)

In [ ]:
chunksize = 100000 
am_output = pd.DataFrame()
num_vars = 0
alpha_m = "../data/AlphaMissense_hg38.tsv"

# Reading in chunks, keeping rows overlapping a variant
for chunk in pd.read_csv(alpha_m, sep='\t', chunksize=chunksize, header = 3):
    chunk = chunk.set_index(keys = ["#CHROM", "POS"])
    joined = pd.merge(all_tf_vars_coords, chunk, left_index=True, right_index=True)
    am_output = pd.concat([am_output, joined])
    if len(joined):
        print(len(set(am_output.index)))
        # display(joined)