In [3]:
import pandas as pd

In [8]:
south_asian_vars = pd.read_excel("../data/kerdoncuff_2024/Extended Data Table S1 Summary of loss of function (LOF) and missense variants in LASI-DAD.xlsx")
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN

In [14]:
south_asian_vars["chr"] = south_asian_vars["#ID"].str.split(":").str[0]
south_asian_vars["end"] = south_asian_vars["#ID"].str.split(":").str[1].astype(int)
south_asian_vars["start"] = south_asian_vars["end"] - 1
south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
1,10:100048756:A:C,A,C,LoF,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048756,100048755
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [24]:
missense_south_asian_vars = south_asian_vars[south_asian_vars["Function"] == "missense"]
missense_south_asian_vars

,#ID,REF,ALT,Function,Allele Frequency (AF)_LASI_DAD,AF_gnomAD_SAS,AF_gnomAD_others,HOM_ALT,GENEID_refseq,ClinVar_significance,GENEID_ClinVar,chr,end,start
0,10:100042515:C:T,C,T,missense,0.001495,0.000829,0.000000,0,CPN1,NaN,NaN,10,100042515,100042514
2,10:100048762:G:A,G,A,missense,0.000187,0.000000,0.000197,0,CPN1,NaN,NaN,10,100048762,100048761
3,10:100048771:G:A,G,A,missense,0.000187,0.000000,0.000068,0,CPN1,NaN,NaN,10,100048771,100048770
4,10:100048810:C:G,C,G,missense,0.000560,0.000207,0.000000,0,CPN1,NaN,NaN,10,100048810,100048809
5,10:100048843:G:A,G,A,missense,0.000187,0.000000,0.000000,0,CPN1,NaN,NaN,10,100048843,100048842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406299,9:99968589:A:G,A,G,missense,0.000187,0.000000,0.000007,0,STX17,NaN,NaN,9,99968589,99968588
406300,9:99968599:A:C,A,C,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968599,99968598
406301,9:99968635:C:G,C,G,missense,0.000187,0.000000,0.000000,0,STX17,NaN,NaN,9,99968635,99968634
406302,9:99968649:C:A,C,A,missense,0.000187,0.000000,0.000000,0,ERP44,NaN,NaN,9,99968649,99968648
406303,9:99985031:T:C,T,C,missense,0.000187,0.000000,0.000000,0,NaN,NaN,NaN,9,99985031,99985030

In [28]:
missense_south_asian_vars[["chr", "start", "end", "REF", "ALT"]]

       chr      start        end REF ALT
0       10  100042514  100042515   C   T
2       10  100048761  100048762   G   A
3       10  100048770  100048771   G   A
4       10  100048809  100048810   C   G
5       10  100048842  100048843   G   A
...     ..        ...        ...  ..  ..
406299   9   99968588   99968589   A   G
406300   9   99968598   99968599   A   C
406301   9   99968634   99968635   C   G
406302   9   99968648   99968649   C   A
406303   9   99985030   99985031   T   C

[385985 rows x 5 columns]

In [7]:
output = pd.read_csv("../output/caitlin_experiment/south_asian_vars.csv")
output

,Unnamed: 0,Gene Name,Mutant Sequence,Protein Change,Mutation
0,0,NCOA1_AD3,VTSVTIKSEILPASLQSTTARPTSRLNRLPELELEAIDNQFGQPGT...,p.Ala857Thr,south_asian
1,1,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Lys959Arg,south_asian
2,2,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Val968Ile,south_asian
3,3,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Met984Ile,south_asian
4,4,NCOA1_AD3,VTSVTIKSEILPASLQSATARPTSRLNRLPELELEAIDNQFGQPGT...,p.Arg987Ile,south_asian
5,5,CAMTA2_AD2,SPAPLEPSSRVGRGEALFGGPVGASELEPFSLSSFPDLMGELISDE...,p.Pro580Ala,south_asian
6,6,CAMTA2_AD2,SPAPLEPSSRVGRGEALFGGPVGASELEPFSLSSFPDLMGELISDE...,p.Pro524Leu,south_asian
7,7,NKX2-2_AD,AQDLAAATFQAGIPFSAYSAQSLQHMQYNVQYSSASTPQYPTAHPL...,p.Ala249Val,south_asian
8,8,NKX2-2_AD,AQDLAAATFQAGIPFSAYSVQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ala239Val,south_asian
9,9,NKX2-2_AD,AQDLAAATFQAGIPFSAYRAQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ser238Arg,south_asian
10,10,NKX2-2_AD,AQDLAAVTFQAGIPFSAYSAQSLQHMQYNAQYSSASTPQYPTAHPL...,p.Ala226Val,south_asian
11,11,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Asp247Asn,south_asian
12,12,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Pro254Ser,south_asian
13,13,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Gln263His,south_asian
14,14,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Leu333Phe,south_asian
15,15,OTX1_AD,AASSIWSPASISPGSAPASVSVPEPLAAPSNTSCMQRSVAAGAATA...,p.Val353Leu,south_asian
16,16,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Gly457Arg,south_asian
17,17,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Arg437Lys,south_asian
18,18,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Gly427Cys,south_asian
19,19,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Arg386Lys,south_asian
20,20,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Pro367Leu,south_asian
21,21,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Val358Met,south_asian
22,22,CAMTA2_AD1,KAHTSPSSSSSSSSSGFAEPLEIRPSPPTSQGGSSRGGTAILLLTG...,p.Arg315Gln,south_asian
23,23,CAMTA2_AD1,KAHTSPSSSSSSSLSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Ser298Leu,south_asian
24,24,CAMTA2_AD1,KAHTSPSSSSCSSSSGFAEPLEIRPSPPTSRGGSSRGGTAILLLTG...,p.Ser295Cys,south_asian
25,25,PITX1_AD,VPGMPNSGLNNINNLTGSSLNSAMSPGACPYGTPASPYGVYRDTCN...,p.Ser272Gly,south_asian
26,26,NR4A2_AD1,MPCVQEQYGSSPQGASPASQSYSYHSSGEYSSDFLTPEFVKFSMDL...,p.Ala6Glu,south_asian
27,27,NCOA1_AD2,GEPNFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Ala1243Pro,south_asian
28,28,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTSPASGYQSPDMKAWQ...,p.Pro1272Ser,south_asian
29,29,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASRYQSPDMKAWQ...,p.Gly1276Arg,south_asian
30,30,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Asn1332Ser,south_asian
31,31,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Val1351Met,south_asian
32,32,NCOA1_AD2,GEANFAPSLSPGSSMVPMPIPPPQSSLLQQTPPASGYQSPDMKAWQ...,p.Ser1373Pro,south_asian
33,33,ERG_AD2,MTTNERRVIVPADPTLWSTDHVRQWLEWAVKEYGLPDVNILLFQNI...,p.Asp164Asn,south_asian
34,34,ERG_AD2,MTTNERRVIVPADPTLWSTDHVRQWLEWAVKEYGVPDVNILLFQNI...,p.Leu152Val,south_asian
35,35,ERG_AD2,MTTNERRVIVPADPMLWSTDHVRQWLEWAVKEYGLPDVNILLFQNI...,p.Thr132Met,south_asian
36,36,PAX6_AD,LRNQRRQASNTPSHIPISSSFSTSVYQPIPQPTTPVSSFTSGSMLG...,p.Pro375Gln,south_asian
37,37,PAX6_AD,LRNQRRQASNTPSHIPISSSFSTSVYQPIPQPTTPVSSFTSGSMLG...,p.Ala321Gly,south_asian
38,38,ERG_AD1,PHPPALPVTSSSFLAAPNPYWNSPTGGIYPNTRLPTSHMPSHLGTYY,p.Phe446Leu,south_asian
39,39,ERG_AD1,PHPSALPVTSSSFFAAPNPYWNSPTGGIYPNTRLPTSHMPSHLGTYY,p.Pro436Ser,south_asian
40,40,PAX5_AD,GRDLASTTLPGYPPHVPPTGQGSYSAPTLTGMVPGSEFSGSPYSHP...,p.Ala322Thr,south_asian
41,41,PAX5_AD,GRDLASTTLPGYPPHDPPAGQGSYSAPTLTGMVPGSEFSGSPYSHP...,p.Val319Asp,south_asian

In [17]:
pd.DataFrame(output["Gene Name"].value_counts())

            count
Gene Name
CAMTA2_AD1      9
NCOA1_AD2       6
NCOA1_AD3       5
OTX1_AD         5
NKX2-2_AD       4
ERG_AD2         3
CAMTA2_AD2      2
PAX6_AD         2
ERG_AD1         2
PAX5_AD         2
PITX1_AD        1
NR4A2_AD1       1