In [1]:
import pandas as pd

In [3]:
all_TFs_cds_phyloP = pd.read_csv("../output/all_TFs_cds_phyloP.csv", index_col = 0)
all_TFs_cds_phyloP

/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_85643/3876324964.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  all_TFs_cds_phyloP = pd.read_csv("../output/all_TFs_cds_phyloP.csv", index_col = 0)

          0         1         2             ENST  12  PhyloP     AD    DBD
0         2  27149134  27149135  ENST00000296096   1   4.624  False  False
1         2  27149135  27149136  ENST00000296096   1   6.891  False  False
2         2  27149136  27149137  ENST00000296096   1   1.666  False  False
3         2  27149137  27149138  ENST00000296096   1   5.833  False  False
4         2  27149138  27149139  ENST00000296096   1  -0.157  False  False
...      ..       ...       ...              ...  ..     ...    ...    ...
2753371  16  49822681  49822682  ENST00000561648  -1   0.452  False  False
2753372  16  49822682  49822683  ENST00000561648  -1  -0.104  False  False
2753373  16  49822683  49822684  ENST00000561648  -1  -0.824  False  False
2753374  16  49822684  49822685  ENST00000561648  -1   0.588  False  False
2753375  16  49822685  49822686  ENST00000561648  -1   2.505  False  False

[2753376 rows x 8 columns]

In [4]:
SFARI_TFs_cds_phyloP = pd.read_csv("../output/SFARI_TFs_cds_phyloP.csv", index_col = 0)
SFARI_TFs_cds_phyloP

/var/folders/hw/xx051vr9457c7lrngf2mypgr0000gn/T/ipykernel_85643/4038552202.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  SFARI_TFs_cds_phyloP = pd.read_csv("../output/SFARI_TFs_cds_phyloP.csv", index_col = 0)

          0         1         2             ENST  12  PhyloP     AD    DBD
0         2  27149134  27149135  ENST00000296096   1   4.624  False  False
1         2  27149135  27149136  ENST00000296096   1   6.891  False  False
2         2  27149136  27149137  ENST00000296096   1   1.666  False  False
3         2  27149137  27149138  ENST00000296096   1   5.833  False  False
4         2  27149138  27149139  ENST00000296096   1  -0.157  False  False
...      ..       ...       ...              ...  ..     ...    ...    ...
2753371  16  49822681  49822682  ENST00000561648  -1   0.452  False  False
2753372  16  49822682  49822683  ENST00000561648  -1  -0.104  False  False
2753373  16  49822683  49822684  ENST00000561648  -1  -0.824  False  False
2753374  16  49822684  49822685  ENST00000561648  -1   0.588  False  False
2753375  16  49822685  49822686  ENST00000561648  -1   2.505  False  False

[2753376 rows x 8 columns]